*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
      text-decoration: none;
}

body{
    font-family: sans-serif;
    background: linear-gradient(to right, #24243e,#302b63,#0f0c29) ;
    display: flex;
